h1 {
    color : red;
}

.wrapper {
    border : #000 1px solid;
    width: 600px;
    height: 400px;
    position: relative;
    left: 50px;
    top: 100px;
}

.inside {
    border: #ff0000 1px solid;
    width: 200px;
    height: 100px;
    position: absolute;
    top: 200px;
    left: 50px
}

a:hover {
    color: red;
    font-weight: bold;
}

a:active {
    color: green;
    font-weight: bold;
}

.myForm input:focus {
    background: pink;
}

.myForm input:active {
    background: green;
}

.myList li:last-child {
    color: red;
    font-weight: bold;
}

.myList li:nth-child(3n) {
    color: pink;
    font-weight: bold;
}

.myList li:nth-child(even) {
    background: orange;
    font-weight: bold;
}

.myList li:nth-child(odd) {
    background: grey;
    font-weight: bold;
}

#rounded1 {
    background: lightblue;
    color: white;
    width: 200px;
    height: 140px;
    padding: 40px;
    border-radius: 50px;
}

#rounded2 {
    background: orange;
    color: white;
    width: 200px;
    height: 140px;
    padding: 40px;
    border-radius: 10px;
}

#rounded3 {
    background: pink;
    color: white;
    width: 200px;
    height: 140px;
    padding: 40px;
    border-radius: 100px;
}

img {
    width: 400px;
    height: 300px;
}